<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Rubaiyat</title>
    <link rel="stylesheet" href="/app/static/css/style.css">
</head>

<body>
    <div class="container">
        <h1>Welcome to Rubaiyat</h1>
        <button id="Random">A poem</button>
        <button id="Booze-ism">Booze-ism</button>
        <div id="poemDisplay" class="poem-display"></div>
        <div class="footer"></div>
    </div>
    <script src="/app/static/js/main.js"></script>
</body>

</html>